#include "resource.h"

IDB_BACKGROUND PNG "Background.png"
IDB_COVER PNG "Cover.png"
IDB_MINE PNG "Mine.png"
IDB_1 PNG "1.png"
IDB_2 PNG "2.png"
IDB_3 PNG "3.png"
IDB_EMPTY PNG "Empty.png"
IDB_FLAG PNG "Flag.png"
IDB_COUNTER0 PNG "Counter_0.png"
IDB_SMILY PNG "Smily.png"
IDB_MINEEND PNG "Mine_End.png"
IDB_SMILYPRESSED PNG "Smily_Pressed.png"
IDB_SMILYDEAD PNG "Smily_Dead.png"
IDB_COUNTER1 PNG "Counter_1.png"
IDB_COUNTER2 PNG "Counter_2.png"
IDB_COUNTER3 PNG "Counter_3.png"
IDB_COUNTER4 PNG "Counter_4.png"
IDB_COUNTER5 PNG "Counter_5.png"
IDB_COUNTER6 PNG "Counter_6.png"
IDB_COUNTER7 PNG "Counter_7.png"
IDB_COUNTER8 PNG "Counter_8.png"
IDB_COUNTER9 PNG "Counter_9.png"
IDI_SMALLICON ICON "small.ico"
IDI_BIGICON ICON "big.ico"